{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container">

        <div class="row">

            <div class="col-12 col-md-5 offset-md-3 text-left">
                <h2>{{contest.name}}</h2>
                <p class="text-white"><small>{{ contest.description }}</small></p>
            </div>
        </div>
        <div class="row ">
            {% if ended == false %}
            <div class="col-12 col-md-3 text-red text-left">
                <img src="/assets/images/podium.svg" width="30"><br> <b>Ranking on fire</b>
                <div id="users-rank">
                    {% include 'Components/_ranking.html.twig' %}
                </div>
            </div>
            <div class="col-12 col-md-6 flag-playground">
                <h1>> {{ challengeOnTheWay.name }}</h1>
                <p class="text-white lead">{{ challengeOnTheWay.description }}</p>

                <div class="row mgb-15">
                    <div class="col-6 col-md-4 text-white text-center">
                        <small class="info-challenge-title">
                            Type of challenge<br>
                        <span class="type-of-challenge">{{ challengeOnTheWay.type }}</span>
                        </small>
                    </div>

                    <div class="col-6 col-md-4 difficulty text-center" id="challenge-difficulty">
                        {{ difficulty | raw }}
                    </div>
                </div>

                <p>
                    <a class="btn text-white btn-dark go-to-flag" href="{{ challengeOnTheWay.url }}" target="_blank">
                        Go here to capture the flag
                        <img src="/assets/images/white-left-flag-inline.svg" width="30">
                    </a>
                </p>
                <div id="solution-poster">
                    <p class="text-grey-light">When done, paste you solution below <span class="cursor"></span></p>
                    <form id="form-flag">
                        <div id="solution-form">
                            <input type="hidden" name="challenge-id" id="challenge-id" value="{{ challengeOnTheWay.id }}">
                            <input type="hidden" name="contest-id" id="contest-id" value="{{contest.id}}">
                            <input type="hidden" name="challenge-order" id="challenge-order" value="{{challengeOnTheWay.order_challenge}}">
                            <input type="text" name="flag" id="flag" placeholder="Solution" value="">
                            <input type="submit" class="btn btn-dark text-white go-to-flag" value="Try it"> <i id="spinner-solution" class="fa fa-spinner fa-spin text-white hide"></i>
                        </div>
                        <div class=" alert-danger w-70 mgt-20 game-message" id="error-message"></div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-3 text-white">
                <img src="https://avatars.githubusercontent.com/{{ github }}?s=75" class="img-thumbnail rounded-circle"><br>
                <small class="text-white">You have left :</small><br>
                <div id="contest-timer" class="timer"></div>
                <div class="steper">
                    {% for challenge in challenges %}
                        <div class="step {{ challenge.status }}">
                            <span class="step-order">
                                {{ challenge.order }}
                            </span>
                            <span class="step-name">
                                 {{ challenge.name }}
                                {% if challenge.status == 'done'%} <i class="fa fa-check"></i><br><small> done in {{ challenge.time }}</small>{% endif %}
                                {% if challenge.status == 'doing'%} <i class="fa fa-ellipsis-h"></i> {% endif %}
                            </span>
                        </div>
                    <br>
                    {% endfor %}

                </div>
            </div>
            {% else %}
                <div class="col-12 text-center flag-playground">
                    <h1>You already played this contest or this challenge is Off</h1>
                    <a class="btn btn-dark text-white" href="/contest/results/{{contest.id}}">See the results</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal-success">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <h5 class="modal-title text-left">Congratulations {{ session.pseudo }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    <p>You've been through this contest.</p>
                </div>
                <div class="modal-footer d-flex justify-content-start">
                    <a class="btn btn-success " href="/contest/results/{{ contest.id }}">Go see the results</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" tabindex="-1" role="dialog" id="modal-endtime">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <h5 class="modal-title text-left text-red">TIME OUT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    <p>This contest is out of time... Sorry</p>
                </div>
                <div class="modal-footer d-flex justify-content-start">
                    <a class="btn btn-dark " href="/contest/results/{{ contest.id }}">Go to last step</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}
<script src="/assets/js/joshuaAjax.js"></script>
<script src="/assets/js/flagChecker.js"></script>
<script src="/assets/js/contestTimer.js"></script>
<script>
    let timer = new contestTimer({% if end_date %}'{{ end_date }}'{% else %} '2020-05-20 17:18:00' {% endif %},
        'contest-timer',
        function() {
            $('#modal-endtime').modal('show');
            let solutionPoster = document.getElementById('solution-poster');
            solutionPoster.classList.add('hide');
        });
        const timeToRefreshRanking = 15000;
        let ranker = new joshuaAjax();
        ranker.joshuaAjaxTimer('/contest/getRankingInContest/{{ contest.id }}', 'users-rank', timeToRefreshRanking);

</script>
{% endblock %}
