{% extends 'layout.html.twig' %}

{% block title %}Game Master{% endblock %}

{% block content %}
    <div class="container-admin">
        <div class="row d-flex justify-content-around">
            <h1>Admin dashboard</h1>
        </div>
        <div class="row d-flex justify-content-around card-deck">
            <div class="card dashboard-card ">
                <h5 class="card-header">Challenges</h5>
                <div class="card-body">
                    <p>
                        <span class="number text-red">{{ total_challenges }}</span> challenges.
                    </p>
                    <div class="form-group">
                        <a class="btn btn-dark" href="/admin/managechallenge"><i class="fas fa-flag"></i> Manage challenges</a>
                    </div>
                    <div class="form-group">
                        <select id="challenge-list" class="custom-select">
                            <option value="1" readonly>Choose a challenge</option>
                            {% for challenge in challenges %}
                            <option value="{{challenge.id}}">{{challenge.name}}</option>
                            {% endfor %}
                        </select>
                        <a class="btn btn-dark" href="#" id="edit-challenge-btn"><i class="fas fa-edit"></i> Edit</a><br>
                    </div>
                    <p>
                        <span class="number text-red">{{ total_types }}</span> types.
                    </p>
                    <div class="form-group">
                    <a class="btn btn-dark" href="/admin/addType"><i class="fas fa-folder"></i> Manage types</a>
                    </div>
                </div>
            </div>

            <div class="card dashboard-card">
                <h5 class="card-header">Contests</h5>
                <div class="card-body">
                    <p>
                        <span class="number text-red">{{ nb_contests_not_ended }}</span> contests,
                        <span class="number text-red">{{ nb_contests_ended }}</span> ended.
                    </p>
                    <div class="form-group">
                        <a class="btn btn-dark" href="/admin/managecontest"><i class="fas fa-flag-checkered"></i> Manage contests</a>
                    </div>
                    <div class="form-group">
                        <select id="contest-list" class="custom-select">
                            <option value="1">Choose a contest</option>
                            {% for contest in contests %}
                                <option value="{{contest.id}}">{{contest.name}}</option>
                            {% endfor %}
                        </select>
                        <a class="btn btn-dark" href="#" id="edit-contest-btn"><i class="fas fa-edit"></i> Edit</a><br>
                    </div>
                    {% if active_contests %}
                    <span class="text-red">Contests on fire</span>
                    {% endif %}
                    <p>
                        {% for active_contest in active_contests %}
                            <a class="btn btn-dark console-opener" href="#" id="console-contest-{{active_contest.id}}"
                               data-contest="{{active_contest.id}}"
                               data-end="{{active_contest.end_date}}"
                               data-target="{{ active_contest.id }}"
                            >
                                <i class="fas fa-circle flash"></i> {{active_contest.name}}</a>
                            <br>
                        {% endfor %}
                    </p>
                </div>
            </div>

            <div class="card dashboard-card">
                <h5 class="card-header">Users</h5>
                <div class="card-body">
                    <p>
                        <span class="number text-red">{{ total_users }}</span> users.
                    </p>
                    <div class="form-group">
                        <a class="btn btn-dark" href="/admin/manageusers"><i class="fas fa-user-cog"></i> Manage users</a><br>
                    </div>
                    <p class="text-red bold">Last registered user :</p>
                    <ul class="pl-0">
                    {% for last_register in last_registers %}
                        <li><span class="bold">- {{ last_register.pseudo }}</span><br><small>on {{ last_register.created_on }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="card dashboard-card">
                <h5 class="card-header">Wild Campuses</h5>
                <div class="card-body">
                    <p>
                        <span class="number text-red">{{ total_campuses }}</span> campuses.
                    </p>
                    <div class="form-group">
                        <a class="btn btn-dark" href="/admin/addcampus"><i class="fas fa-graduation-cap"></i> Manage campuses</a><br>
                    </div>
                    <p>
                        <span class="number text-red">{{ total_specialties }}</span> specialties.
                    </p>
                    <div class="form-group">
                        <a class="btn btn-dark" href="/admin/addSpecialty"><i class="fab fa-codepen"></i> Manage specialties</a><br>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% for active_contest in active_contests %}
        <div class="console d-flex flex-row hide" id="console{{ active_contest.id }}">
            <a  href="#" class="close-console console-closer" aria-label="Close" id="console-closer-{{ active_contest.id }}">
                <i class="fas fa-window-close"></i>
            </a>
            <div class="story col-12 col-md-5" >
                <h2>Follow what's happening ... </h2>
                <div id="story">
                    {% include 'Components/_console.html.twig' %}
                </div>
            </div>
            <div class="timer-column col-12 col-md-3">
                <div id="timer{{ active_contest.id }}" class="timer"></div>
            </div>
            <div class="ranking-console col-12 col-md-4">
                <img src="/assets/images/podium.svg" width="30"><br> <b>Ranking on fire</b>
                <div id="ranking">
                    {% include 'Components/_ranking.html.twig' %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
{% block javascript %}
<script src="/assets/js/joshuaAjax.js"></script>
<script src="/assets/js/contestTimer.js"></script>
<script src="/assets/js/console.js"></script>
<script src="/assets/js/dashboard.js"></script>
{% endblock %}