{% extends 'layout.html.twig' %}

{% block title %}Contest manager{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Contest manager</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-1">
            <div class="text-left pb-3">
                <h2>Existing contests</h2>
            </div>
            <div class="row list-container overflow-auto">
                <ul class="list-group col-12">
                    {% for contest in contests|reverse %}
                    <div class="modal fade" id="activateContest{{ contest.id }}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content modal-contest">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Activate the contest</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure ? This will be permanent.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a class="btn btn-success" href="/admin/setcontestactive/{{ contest.id }}">Yes <i class="fa fa-thumbs-up"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <li class="list-group-item list-group-item-dark rounded-sm p-1 pl-2 mb-2">
                        <p class="mb-0 existing_challenge pb-1"><i class="fa fa-flag-checkered"></i> {{ contest.name }} <span class="float-right mr-1">{{ contest.campus }} <i class="fa fa-map-marker-alt"></i></span></p>
                        <div class="row col-12 d-flex justify-content-between align-items-start p-0 ml-0">
                            {% if (contest.is_active == '0') %}
                            <div class="text-left col-4">
                                <a class="btn btn-dark text-white rounded-sm mt-1 p-0 pl-1 pr-1" href="/admin/editcontest/{{ contest.id }}">Edit</a>
                            </div>
                            {% endif %}
                            <div class="text-center col-4" {% if (contest.is_active == '1') %} hidden {% endif %}>
                                <button class="btn btn-success rounded-sm mt-1 text-center p-0 pl-1 pr-1 activated-buttons contest-activator" data-toggle="modal" data-target="#activateContest{{ contest.id }}">Activate</button>
                            </div>
                            <div class="col-4 offset-8" {% if (contest.is_active == '0') %} hidden {% endif %}>
                                <p class="mb-0 mt-1 text-center rounded-sm text-white activated">Activated</p>
                            </div>
                            {% if (contest.is_active == '0') %}
                            <div class="custom-control custom-switch text-right col-4">
                                <input type="checkbox" class="custom-control-input manage-contest-display" id="display-{{ contest.id }}" data-visible="{{ contest.is_visible }}" data-id="{{ contest.id }}" {% if (contest.is_visible == '1') %} checked {% endif %}>
                                <label class="custom-control-label display-switch mt-1" for="display-{{ contest.id }}">Display</label>
                            </div>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-4 offset-2">
            <form action="" method="post">
                <div class="row d-flex justify-content-start">
                    <div class="text-left pb-3">
                        <h2>Create a contest</h2>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Title</span>
                        </div>
                        <input type="text" class="form-control" maxlength="30" placeholder="Max 30 characters" aria-describedby="basic-addon1" name="name" value="{{ contest.name }}" required>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="campus" id="inputGroup-campus">Campus</label>
                        </div>
                        <select class="custom-select" id="campus" name="campus" required>
                            <option value="0">All campuses</option>
                            {% for campus in campuses %}
                                <option value="{{ campus.id }}" {% if contest.campus == campus.id %} selected {% endif %}>{{ campus.city }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Description</span>
                        </div>
                        <textarea class="form-control" aria-label="Description" minlength="30" maxlength="200" placeholder="Between 30 and 200 characters" name="description" required>{{ contest.description }}</textarea>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Duration</span>
                        </div>
                        <input type="number" class="form-control" placeholder="Contest duration in minutes" aria-describedby="basic-addon1" name="duration" value="{{ contest.duration }}" required>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Image</span>
                        </div>
                        <input type="url" class="form-control" placeholder="Paste here the url of the image" aria-describedby="basic-addon1" name="image" value="{{ contest.image }}">
                    </div>
                </div>
                <div class="row d-flex justify-content-start">
                    <div class="form-group">
                        <button type="submit" name="createFullContest" class="align-self-center btn btn-dark text-white hover-red">Next step (add challenges) <i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="row d-flex justify-content-start">
                    <div class="form-group">
                        <button type="submit" name="createBlankContest" class="align-self-center btn btn-dark text-white hover-red">Create a blank contest <i class="fa fa-save"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="/assets/js/contestDisplay.js"></script>
{% endblock %}
