{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Available contest</h1>
        {% if contests|length == 0 %}<h3 class="text-center">No contest available yet, coming soon...</h3> {% endif %}
        <div class="row row-cols-1 row-cols-lg-3 justify-content-center">
            {% for contest in contests %}
                <div class="col mb-3">
                    <div class="card h-100 mx-auto bg-dark text-white border-success">
                        <p class="badge badge-success">{{ contest.campus|upper }}</p>
                        <img src="{% if contest.image is null %}/assets/images/default_contest.jpg{% else %}{{ contest.image }}{% endif %}"
                             class="card-img-top contest-image" alt="image contest">
                        <div class="card-body">
                            <h5 class="card-title title-color">{{ contest.name }}</h5>
                            <p class="card-text">{{ contest.description }}</p>
                        </div>
                        <div class="card-footer">
                            {% if contest.is_active %}
                                <p class="float-left margin-duration" id="contest-timer{{ contest.id }}"></p>
                                <a href="/contest/play/{{ contest.id }}">
                                    <button class="btn btn-success float-right">Let's Go !</button>
                                </a>
                            {% else %}
                                <p class="float-left margin-duration">Duration : {{ contest.formatted_duration.hours }}h {% if contest.formatted_duration.minutes != 0 %}{{ contest.formatted_duration.minutes }}m{% endif %}</p>
                                <p class="text-white float-right margin-duration">Soon !</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if have_ended %}
        <div class="text-center mt-4">
            <a href="/joshua/oldcontests" class="btn btn-dark">See old contests <span class="badge bg-light text-dark">{{ nb_ended }}</span></a>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
<script src="/assets/js/contestTimer.js"></script>
{% for contest in contests %}
<script>
    let timer{{ contest.id }} = new contestTimer('{{ contest.end_date }}', 'contest-timer{{ contest.id }}', ['h ', 'm ', 's ']);
</script>
{% endfor %}
{% endblock %}
