{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Old contests</h1>
        <div class="row row-cols-1 row-cols-lg-3 justify-content-center">
            {% for contest in contests %}
                <div class="col mb-3">
                    <div class="card h-100 mx-auto bg-dark text-white border-success">
                        <p class="badge badge-success">{{ contest.campus|upper }}</p>
                        <img src="{% if contest.image is null %}/assets/images/default_contest.jpg{% else %}{{ contest.image }}{% endif %}"
                             class="card-img-top" alt="image contest">
                        <div class="card-body">
                            <h5 class="card-title title-color">{{ contest.name }}</h5>
                            <p class="card-text">{{ contest.description }}</p>
                        </div>
                        <div class="card-footer">
                            <p class="float-left margin-duration">Duration : {{ contest.formatted_duration.hours }}h {% if contest.formatted_duration.minutes != 0 %}{{ contest.formatted_duration.minutes }}m{% endif %}</p>
                            <a href="/contest/results/{{ contest.id}}"><button class="btn btn-dark float-right">Ranking</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}